{% load static %}

<!-- Path to Framework7 iOS CSS theme styles-->
<link rel="stylesheet" type="text/css" href="{% static 'polls/bower_components/framework7/dist/css/framework7.ios.min.css' %}" />

<!-- Path to Framework7 iOS related color styles -->
<link rel="stylesheet" type="text/css" href="{% static 'polls/bower_components/framework7/dist/css/framework7.ios.colors.min.css' %}" />

<!-- Path to your custom app styles-->
<link rel="stylesheet" type="text/css" href="{% static 'polls/bower_components/framework7/dist/css/my-app.css' %}" />

<body>

<!-- Status bar overlay for full screen mode (PhoneGap) -->
<div class="statusbar-overlay"></div>
<!-- Panels overlay-->
<div class="panel-overlay"></div>
<!-- Left panel with reveal effect-->
<div class="panel panel-left panel-reveal">
    <div class="content-block">
        <p>Left panel content goes here</p>
    </div>
</div>
<!-- Views -->
<div class="views">
    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">
        <!-- Top Navbar-->
        <div class="navbar">
            <div class="navbar-inner">
                <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
                <div class="center sliding">Awesome App</div>
                <div class="right">
                    <!--
                      Right link contains only icon - additional "icon-only" class
                      Additional "open-panel" class tells app to open panel when we click on this link
                    -->
                    <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
                </div>
            </div>
        </div>
        <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-through">
            <!-- Page, "data-page" contains page name -->
            <div data-page="index" class="page">
                <!-- Scrollable page content -->
                <div class="page-content">
                    <p>Page content goes here</p>
                    {% if latest_question_list %}
                    <ul>
                        {% for question in latest_question_list %}
                        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>No polls are available.</p>
                    {% endif %}

                    <!-- Link to another page -->
                    <a href="#">About app</a>
                </div>
            </div>
        </div>
        <!-- Bottom Toolbar-->
        <div class="toolbar">
            <div class="toolbar-inner">
                <!-- Toolbar links -->
                <a href="#" class="link">Link 1</a>
                <a href="#" class="link">Link 2</a>
            </div>
        </div>
    </div>
</div>

</body>

{% load static %}

<!-- Path to Framework7 Library JS-->
<script src="{% static 'polls/bower_components/framework7/dist/js/framework7.min.js' %}" ></script>
<!-- Path to your app js-->
<script src="{% static 'polls/bower_components/framework7/dist/js/my-app.js' %}" ></script>
